<li class="list-group-item">
  <%= form_for @conn, "/", [as: :note], fn f -> %>
    <a href="<%= page_path(@conn, :show, @line.text) %>">
      <%= @line.text %>
    </a>
    <%= hidden_input f, :line, value: @line.text %>
    <span class="pull-right">
      <%= Timex.format!(@line.timestamp, @format, :strftime) %>
      <%= submit "+", class: "btn btn-xs btn-success" %>
    </span>
  <% end %>
</li>
