<li class="list-group-item">
  <%= form_for @conn, "/", [as: :note], fn f -> %>
    <%= @line.text %>
    <%= hidden_input f, :line, value: @line.text %>
    <span class="pull-right">
      <%= Timex.format!(@line.timestamp, "%H:%M", :strftime) %>
      <%= submit "+", class: "btn btn-xs btn-success" %>
    </span>
  <% end %>
</li>
